<!--Search bar for content - full block on small devices-->
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-6 col-sm-offset-3" id="search-bar">
    <input class="form-control anim-slide-below"
           ng-model="searchText" placeholder="Search for title, author, date...">
  </div>
</div>

<!--looping over every item with ng-repeat-->
<div ng-repeat="item in topics.items | filter: searchText"
     class="row panel panel-default anim-slide-left">

  <!--linking and resizing from picture handled in directive-->
  <flickr-image-with-link-to-details class="image-container"></flickr-image-with-link-to-details>

  <!--all text positioned left from picture-->
  <div class="row feed-text">
    <div class="row">

      <!--photo title checked in directive-->
      <a photo-title ui-sref="flickr.detail({ id: $index})" class="feed-title"></a>
    </div>

    <!--preperation of names, links and dates in directives-->
    <div class="row">
      <author-name-with-link-to-flickr class="author-name-lg"></author-name-with-link-to-flickr>
      <publication-date class="publication-date"></publication-date>

      <!--repositioning from author-name on smaller devices-->
      <author-name-with-link-to-flickr class="author-name-sm"></author-name-with-link-to-flickr>
      <view-on-flickr></view-on-flickr>
    </div>
  </div>
</div>

<!--insert detail state to DOM when item selected-->
<div ui-view class="anim-in-out anim-fade" data-anim-speed="1000" data-anim-sync="true"></div>